<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>
<body>
    <style>
        html {
            height: 100%;
            display: flex;
        }

        body {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;
            background-color: gray;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .boton {
            height: 3em;
            width: 7em;
            background-color: #000000;
            border: none;
            color: white;
            font-size: 2em;
        }

        .boton:hover {
            background-color: #272727;
        }

        /* tablas */
        .main-container {
            margin: 35px auto;
            width: 600px;
        }

        table {
            background-color: white;
            text-align: left;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 20px;
        }

        thead {
            background-color: #246355;
            border-bottom: solid 5px #0F362D;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #ddd;
        }

        tr:hover td{
            background: #369681;
            color: white;
        }
    </style>
    <a href="./">
        <button class="boton">Volver</button>
    </a>

    <a href="insertarEmpleado">
        <button class="boton">Insertar</button>
    </a>

    <section class="container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th><th>Apellido</th><th>Edad</th><th>Editar</th>
                </tr>
            </thead>
            <% pizzas.forEach(function(pizza) { %>
                <% if (pizza.value.nombre_empleado) { %>
                <tr>
                    <td><%= pizza.value.nombre_empleado %></td>
                    <td><%= pizza.value.apellido_empleado %></td>
                    <td><%= pizza.value.edad_empleado %></td>
                    <td><a href="/actualizarEmpleado/<%= pizza.id %>/<%= pizza.value.rev %>">Editar</a>
                    <a href="/borrar/<%= pizza.id %>/<%= pizza.value.rev %>" onclick="return confirm('Estas seguro de borrar este registro')">Borrar</a></td>
                </tr>
                <% } %>

            <% }); %>
        </table>
    </section>
</body>
</html>