<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= params.title %></title>
</head>
<body>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        html {
            height: 100%;
            background: gray;
            font-family: sans-serif;
            font-weight: bold;
        }

        #id, #rev{
            display: none;
        }
    </style>
    <form role="form" method="post">
        <input type="text" id="id" name="id" value="<%= params.id %>">
        <input type="text" id="rev" name="rev" value="<%= params.rev %>">
        <% 
        var vPizza;
        var vPrecio;
        pizzas.forEach(function(pizza) { 
            if(pizza.id == params.id && pizza.value.rev == params.rev){
                vPizza = pizza.value.name;
                vPrecio = pizza.value.precio;
                vIngredientes = pizza.value.ingredientes;
                vTamanio = pizza.value.tamanio;
            }
        });
        %>
        <p>Nombre de Pizza:</p>
        <input type="text" id="pizza" name="pizza" value="<%= vPizza %>">
        <p>Precio de Pizza:</p>
        <input type="text" id="precio" name="precio" value="<%= vPrecio %>">
        <p>Ingredientes:</p>
        <input type="text" id="ingredientes" name="ingredientes" value="<%= vIngredientes %>">
        <p>Tamaño de Pizza:</p>
        <input type="text" id="tamanio" name="tamanio" value="<%= vTamanio %>">
        <button id="cargar" type="submit">Actualizar Registro</button>
    </form>
    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>